{% extends "index.html"%}

{% block title %}Home{% endblock %}

{% block content %}

<div class="min-h-screen flex flex-col p-5">
    <div>
        <h1 class="text-3xl font-bold text-emerald-900 mb-5"> Welcome&nbsp;{{name}}!</h1>
    </div>
    <div class="grid grid-flow-row grid-cols-4 mt-4 gap-x-8 gap-y-4">
        <div class="relative h-64 p-4 text-white transition-colors duration-300 border-2 rounded-lg bg-emerald-800 hover:bg-emerald-950">
            <a href="{{url_for('registration')}}">
                <img src="{{ url_for('static', filename='images/registration.png') }}" alt="registration logo" class="absolute flex items-center justify-center object-contain w-full h-1/2">
                <div class="absolute bottom-0 left-0 flex items-center justify-center w-full h-1/2">
                    <h1 class="text-2xl font-semibold">Registration</h1>
                </div>
            </a>
        </div>
        <div class="relative h-64 p-4 text-white transition-colors duration-300 border-2 rounded-lg bg-emerald-800 hover:bg-emerald-950">
            <a href="{{url_for('home')}}">
                <img src="{{ url_for('static', filename='images/advising.png') }}" alt="advisinng logo" class="absolute left-0 flex items-center justify-center object-contain w-full h-1/2">
                <div class="absolute bottom-0 left-0 flex items-center justify-center w-full h-1/2">
                    <h1 class="text-2xl font-semibold">Advising</h1>
                </div>
            </a>
        </div>
        <div class="relative h-64 p-4 text-white transition-colors duration-300 border-2 rounded-lg bg-emerald-800 hover:bg-emerald-950">
            <a href="{{url_for('home')}}">
                <img src="{{ url_for('static', filename='images/studentAccount.png') }}" alt="Student Account logo" class="absolute flex items-center justify-center object-contain w-full h-1/2">
                <div class="absolute bottom-0 left-0 flex items-center justify-center w-full h-1/2">
                    <h1 class="text-2xl font-semibold">Student Account</h1>
                </div>
            </a>
        </div>
        <div class="relative h-64 p-4 text-white transition-colors duration-300 border-2 rounded-lg bg-emerald-800 hover:bg-emerald-950">
            <a href="{{url_for('home')}}">
                <img src="{{ url_for('static', filename='images/studentRecords.png') }}" alt="Student Records logo" class="absolute flex items-center justify-center object-contain w-full h-1/2">
                <div class="absolute bottom-0 left-0 flex items-center justify-center w-full h-1/2">
                    <h1 class="text-2xl font-semibold">Student Records</h1>
                </div>
            </a>
        </div>

    </div>
    <div class="flex items-center mt-10 ">
        <div class="grid flex-1 grid-flow-row grid-cols-1 mr-8 gap-y-4">
            <div class="border-2 rounded-lg h-12 p-2 px-4 bg-[#689077] text-lg text-white hover:bg-emerald-900 transition-colors duration-300 flex items-center justify-center">- - My Finances - -</div>
            <a href="{{url_for('myCourses')}}">
                <div action="/myCourses" class="border-2 rounded-lg h-12 p-2 px-4 bg-[#689077] text-lg text-white hover:bg-emerald-900 transition-colors duration-300 flex items-center justify-center">- - My Courses - -</div>
            </a>
            <div class="border-2 rounded-lg h-12 p-2 px-4 bg-[#689077] text-lg text-white hover:bg-emerald-900 transition-colors duration-300 flex items-center justify-center">- - My Degree Evaluation - -</div>
            <div class="border-2 rounded-lg h-12 p-2 px-4 bg-[#689077] text-lg text-white hover:bg-emerald-900 transition-colors duration-300 flex items-center justify-center">- - My Schedule - -</div>

        </div>
        <div class="overflow-y-auto flex-1 border-2 rounded-lg h-64 p-5 bg-[#9BB8A6] text-white">
            <h1 class="text-2xl"> <u>My Events</u> </h1>
            <ul class="text-lg">
                <li> October 19: Database Systems Exam</li>
                <li> October 21: Early Withdrawal Deadline</li>
                <li> October 23: Operating Systems Exam</li>
                <li> October 26: Computer Architecture Exam</li>
                <li> November 1: Operating System Quiz</li>
                <li> November 9: Deadline for Withdrawal from courses in Fall 2023 (WP/WF)</li> 
                <li> November 21: Advising of current students for spring 2024</li>              
                <li> November 22: Holiday, Independence Day </li>
            </ul>
        </div>
    </div>

</div>




{% endblock %}